@font-face {
    font-family: Clydesdale-Medium;
    src: url(font/Clydesdale-Medium.ttf);
}

@font-face {
    font-family: Clydesdale-Bold;
    src: url(font/Clydesdale-Bold.ttf);
}

@font-face {
    font-family: Clydesdale-Book;
    src: url(font/Clydesdale-Book.ttf);
}

@font-face {
    font-family: Clydesdale-Light;
    src: url(font/Clydesdale-Light.ttf);
}

@font-face {
    font-family: Clydesdale-Extrabold;
    src: url(font/Clydesdale-ExtraBold.ttf);
}

button {
    border: none;
}

nav .left .icons-4{
    position:absolute;
}
.btn {
    position: relative;
    display: inline;
    box-sizing: border-box;
    background-color: #1573a4;
    text-shadow: none;
    color: white;
    margin: 0;
    width: 210px;
    margin-right: 1%;
    justify-content: center;
}

.banner .btns .btn {
    padding-top: 1%;
    padding-bottom: 1%;
}

.banner .btns{
    padding-top: 1%;
    margin-top: 1%;
}

.btn-1 {
    position: relative;
    display: inline;
    box-sizing: border-box;
    background-color: #1573a4;
    text-shadow: none;
    color: white;
    margin: 0;
    width: 300px;
    margin-right: 1%;
    justify-content: center;
}

* {
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: white;
    margin: auto;
}

body {
    text-align: left;
}

header {
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    width: 100%;
}

nav {
    justify-content: center;
    padding-right: 50%;

}

header nav {
    display: flex;
}


header nav .container {
    display: flex;
}

header nav .text {
    padding-left: 5%;
    padding-top: 4%;
    padding-bottom: 4%;
    padding-right: 5%;

}

header nav #logo {
    width: 20%;
    padding-top: 2.2%;
    margin-top: 1%;
    margin-bottom: 0.70%;
    margin-right: 0.6%;
    padding-bottom: 1%;
    padding-left: 1%;
    padding-right: 1%;
    margin-left: 5%;
}

header nav .container .search {
    display: flex;
    flex: 2;
}

header nav .search .sign-in {
    background-color: transparent;
    width: 100px;
    border: none;
    height: 30px;
    padding-top: 2%;
    padding-bottom: 2%;
    color: white;
}

header nav .search {
    padding-top: 5%;
    padding-bottom: 5%;
    padding-left: 55%;
    padding-right: 10%;
}

.banner #banner-1 {
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 66vh;
    background-image: url(img/banner.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    
}

section .content .btns .btn {
    position: relative;
    display: inline;
    box-sizing: border-box;
    background-color: #1573a4;
    text-shadow: none;
    color: white;
    margin: 0;
    width: 210px;
    margin-right: 1%;
}

.text #group .btn{
    margin-top: 4%;
}

.content h1 {
    color: white;
    text-align: left;
    flex: 1;
}

.content p {
    color: white;
    text-align: left;
    flex: 1;
}

section .content {
    padding-left: 8.4%;
    padding-top: 16%;
    padding-right: 8.4%;
    margin-right: 5%;
    margin-left: 5%;

}

.info .counter {
    display: flex;
    justify-content: center;
    padding-left: 5.5%;
    padding-right: 5.5%;
}

.text {
    display: flex;
    padding-bottom: 2%;
    justify-content: center;
}

.text #group {
    padding-right: 3.2%;
    padding-top: 1.5%;
    margin-left: 2.7%;
    padding-bottom: 1.5%;
}

#group h1{
    color: rgb(32, 120, 168);
}

.text #group p {
    display: inline;
}

.info .text #box{
    justify-self: center;
    align-items: center;
}

.text #group .btn {
    padding-top: 2%;
    padding-bottom: 2%;
    padding-left: 1%;
    padding-right: 1%;
}

.info .counter #box {
    margin: 40px;
}

.info .counter #box img {
    max-width: 100%;
}

.info .counter #box h2 {
    color: #1573a4;
}

.text #box {
    justify-content: center;

}

.banner-2 #banner-2 {
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 70vh;
    background-image: url(img/banner2.jpg);
    background-repeat: no-repeat;
    background-size: cover;

}

.banner-2 .info h1 {
    color: #98d0f1;
    padding-left: 8.4%;
}

.banner-2 .info h4 {
    color: white;
    padding-left: 8.4%;
}

.banner-2 .info p {
    color: white;
    padding-left: 8.5%;
}

.banner-2 #banner-2 .btns {
    padding-left: 8.3%;
    display: flex;

}

.banner-2 #banner-2 .btn {
    padding-top: 3%;
    padding-bottom: 3%;
    padding-left: 1%;
    padding-right: 1%;
    display: inline;

}

.banner-2 #banner-2 .btn-1 {
    padding-top: 3%;
    padding-bottom: 3%;
    padding-left: 1%;
    padding-right: 1%;
}

.banner-2 .container {
    display: flex;
    padding-left: 2.8%;
    padding-top: 6%;
    padding-bottom: 6%;
    padding-right: 5.5%;
    justify-content: center;
}

.banner-2 #banner-2 #box img {
    width: 90%;
}

.banner-2 #banner-2 #box {
    padding-left: 9.5%;
}

.banner-2 .info {
    margin-top: 3%;
    margin-bottom: 3%;
}

.community .container {
    display: flex;
    justify-content: center;
    padding-left: 8.8%;
    padding-right: 8.8%;
    padding-top: 6.5%;
    padding-bottom: 5.5%;

}

.community .info {
    margin-right: 2%;
}

.community .btn {
    padding-top: 2%;
    padding-bottom: 2%;
    padding-left: 1%;
    padding-right: 1%;
    margin-right: 5%;
}

.community .btns {
    padding-top: 3%;
}

.social .icons {
    display: flex;
    justify-content: center;
    padding-top: 2%;
    padding-bottom: 2%;
    background-color: #EEEEEE;
    padding-left: 7.7%;

}

.social .icons li {
    margin-left: 1%;
    margin-right: 1%;
}

.social #fb {
    background-color: rgb(59, 90, 154);
    color: white;
    height: 50px;
    width: 50px;
    text-align: center;
    padding-top: 1%;
    padding-bottom: 1%;
}

.social #tw {
    background-color: rgb(46, 167, 222);
    color: white;
    height: 50px;
    width: 50px;
    text-align: center;
    padding-top: 1%;
    padding-bottom: 1%;
}

.social #yt {
    color: white;
    background-color: rgb(223, 46, 36);
    height: 50px;
    width: 50px;
    text-align: center;
    padding-top: 1%;
    padding-bottom: 1%;
}

.social #ig {
    background-color: rgb(54, 62, 70);
    color: white;
    height: 50px;
    width: 50px;
    text-align: center;
    padding-top: 1%;
    padding-bottom: 1%;
}

.social #tch {
    background-color: rgb(104, 69, 151);
    color: white;
    height: 50px;
    width: 50px;
    text-align: center;
    padding-top: 1%;
    padding-bottom: 1%;
}

.social #dc {
    color: white;
    background-color: rgb(114, 137, 218);
    height: 50px;
    width: 50px;
    text-align: center;
    padding-top: 1%;
    padding-bottom: 1%;
}

.social #rating-info {
    padding-left: 40%;
    padding-right: 4%;
}

.studio {
    display: flex;
    margin-left: 8.8%;
    margin-right: 8.8%;
    justify-content: center;
    margin-top: 2%;
    margin-bottom: 2%;
}

.studio a {
    color: black;
}

.studio li {
    padding-left: 10%;
}

.studio .container {
    display: flex;
    padding-top: 2%;
    padding-bottom: 2%;
    margin-top: 1%;
    margin-bottom: 1%;
    padding-left: 4%;
    padding-right: 50%;
    justify-content: center;
}

.studio #box {
    width: 8%;
    padding-top: 2%;
    padding-bottom: 2%;
    margin-top: 1%;
    margin-bottom: 1%;
}

.studio #box-2 {
    padding-top: 2%;
    padding-bottom: 2%;
    margin-top: 1%;
    margin-bottom: 1%;
    padding-left: 2%;
}



.social-bar{
    position: fixed;
    left: 0%;
    top: 20%;
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    padding-left: 0.9%;

}

.social-bar li{
    padding-top: 20%;
    padding-bottom: 20%;
    padding-left: 3%;
    padding-right: 3%;
}

.social-bar #fb{
    background-color: rgb(59, 90, 154);
    border-radius: 50%;
    color: white;
    width: 150%;
    text-align: center;
}

.social-bar #tw{
    background-color: rgb(46, 167, 222);
    border-radius: 50%;
    color: white;
    width: 150%;
    text-align: center;
}

.social-bar #rd{
    background-color: rgb(239, 76, 36);
    border-radius: 50%;
    color: white;
    width: 150%;
    text-align: center;
}

.social-bar #gm{
    background-color: rgb(24, 115, 165);
    border-radius: 50%;
    color: white;
    width: 150%;
    text-align: center;
}

.social-bar #lk{
    background-color: rgb(72, 77, 80);
    border-radius: 50%;
    color: white;
    width: 150%;
    text-align: center;
}

footer {
    background-color: #2F2F2F;
    display: flex;
    justify-content: center;
    align-items: center;
}


footer .container{

    padding-top: 1%;
    padding-bottom: 1%;
    display: block;
    height: 50px;

}

footer .terms{
    display: flex;
    padding-left: 14%;
    padding-right: 2%;

}

footer .terms  li{
    display: block;
    width: 100px;
    text-align: center;
}

footer i{
    color: white;
}

footer #box{
    width:10%;
}

.community h1{
    color: rgb(32, 120, 168);
}

p{
    font-family: Arial;
    font-size: 14px;
}

h1{
    font-family: Clydesdale-Medium;
    font-size: 40px;
}

h2{
    font-family: Clydesdale-Medium;
    font-size: 30px;
}

a{
    font-family: Clydesdale-Medium;
    font-size: 17px;
}

h3{
    font-family: Clydesdale-Medium;
}

h4{
    font-family: Clydesdale-Book;
    font-size: 25px;
}

button{
    font-family: Clydesdale-Light;
    font-size: 25px;
}

/*
@font-face {
    font-family: Clydesdale-Medium;
    src: url(font/Clydesdale-Medium.ttf);
}

@font-face {
    font-family: Clydesdale-Bold;
    src: url(font/Clydesdale-Bold.ttf);
}

@font-face {
    font-family: Clydesdale-Book;
    src: url(font/Clydesdale-Book.ttf);
}

@font-face {
    font-family: Clydesdale-Light;
    src: url(font/Clydesdale-Light.ttf);
}

@font-face {
    font-family: Clydesdale-Extrabold;
    src: url(font/Clydesdale-ExtraBold.ttf);
}