* {
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}

body {
    font-size: 80%;
    text-align: left;
    font-family: Clydesdale-medium;
    overflow-y: scroll;
}

li{
    list-style: none;
}

a{
    color: white;
    text-decoration: none;
}


header nav ul{
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    position:absolute;
    width: 100%;
    padding: 3.88888% 0% 0% 20.3%;
}

header nav ul #logo{
    background-image: url(img/halologo.png);
    background-repeat: no-repeat;
    background-size: contain;
    padding: 0% 10% 0% %;
    margin: 0% 1% 0% 0%;
}



.banner #banner-1 {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 0% 0% 5% 0%;
    padding: 0% 0% 8.2% 0%;
    background-image: url(img/banner.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

section .content .btns .btn {
    position: relative;
    display: inline-block;
    box-sizing: border-box;
    background-color: #1573a4;
    text-shadow: none;
    color: white;
    margin: 0;
    
}

.content h1 {
    color: white;
    text-align: left;
    font-size: 50px;
}

.content h3 {
    color: white;
    text-align: left;
}

section .content {
    padding-left: 20.5%;
    padding-top: 16%;
}

img {
    background-size: cover;
    background-repeat: no-repeat;
}

@font-face {
    font-family: Clydesdale-medium;
    src: url(font/Clydesdale-Medium.ttf);
}

@font-face {
    font-family: Clydesdale-light;
    scr: url(font/Clydesdale-Light.ttf);
}

.info .counter {
    display: flex;
    justify-content: center;
    padding-left: 15.5%;
    padding-right: 15.5%;
}

.info .counter #box {
    margin: 40px;

}

.info .counter #box img {
    max-width: 100%;
}

.info .counter #box h2 {
    color: #1573a4;
}

.text #box{
    margin-left: 15%;
}

.banner-2 #banner-2 {
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 65vh;
    background-image: url(img/banner2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.banner-2 .info h2{
    color: white;
}

.banner-2 .info h4{
    color: white;
}

.banner-2 .info p{
    color: white;
}